# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*

# build
dist/
client/dist/
build/

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/